/* import fonts that are gonna be used in the website*/
/*variables*/

/*css reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body*/
body {
    min-height: 100vh;
    
}

/*header*/
